@charset "UTF-8";
@import url("grid.css");

/*ポップアップ用*/
.modal-wrapper {
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 60px 10px;
  text-align: center
}

.modal-wrapper:not(:target) {
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s, visibility .3s;
}

.modal-wrapper:target {
  opacity: 1;
  visibility: visible;
  transition: opacity .4s, visibility .4s;
}

.modal-wrapper::after {
  display: inline-block;
  height: 100%;
  margin-left: -.05em;
  vertical-align: middle;
  content: ""
}

.modal-wrapper .modal-window {
  box-sizing: border-box;
  display: inline-block;
  z-index: 20;
  position: relative;
  width: 70%;
  max-width: 600px;
  padding: 30px 30px 15px;
  border-radius: 2px;
  background: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, .6);
  vertical-align: middle
}

.modal-wrapper .modal-window .modal-content {
  max-height: 80vh;
  overflow-y: auto;
}

.modal-overlay {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .8)
}

.modal-wrapper .modal-close {
  z-index: 20;
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  color: #95979c!important;
  font-size: 20px;
  font-weight: 700;
  line-height: 35px;
  text-align: center;
  text-decoration: none;
  text-indent: 0
}

.modal-wrapper .modal-close:hover {
  color: #2b2e38!important
}

.anarogu{
 width:80% ;
 padding-left: 9rem;
 
}  
  
  /*タブ*/

input[name="switch"] {
	display: none;
}

/* :::::: button :::::: */
.tabBtn {
	display: flex;
	list-style: none;
	width: 100%;
	margin: 0 0 1px;
	padding: 0;
	text-align: center;
}
.tabBtn li {
	flex-basis: 20%;
	background: rgb(32, 178, 64);
}
.tabBtn li:not(:last-child) {
	border-right: 1px solid white;
}
.tabBtn label {
	display: block;
	cursor: pointer;
	padding: 10px 0;
	color: white;
	transition: background .3s;
}
.tabBtn label:hover {
	background: rgba(205,92,92,.5);
}

/* :::::: contents :::::: */
.tabContents section {
	padding: 20px;
	background: white;
}
.tabContents h2 {
	margin: 0 0 .5em;
	font-size: 18px;
}
.tabContents p {
	font-size: 12px;
}
.tabContents p a {
	color:  rgb(32, 178, 64);
}
.tabContents figure {
	float: left;
	width: 30%;
	min-width: 120px;
	margin: 0 1em 0 0;
}
.tabContents figure img {
	max-width: 100%;
	vertical-align: middle;
}
.tabContents section::after {
	content: "";
	display: block;
	clear: left;
}

/* :::::: mechanism :::::: */
.tabContents section {
	opacity: .1;
}
.tabContents section {
	transition: opacity .3s;
}
#tab-1:checked ~ .tabBtn label[for="tab-1"],
#tab-2:checked ~ .tabBtn label[for="tab-2"],
#tab-3:checked ~ .tabBtn label[for="tab-3"],
#tab-4:checked ~ .tabBtn label[for="tab-4"],
#tab-5:checked ~ .tabBtn label[for="tab-5"] {
	background: indianred;
}
#tab-1:checked ~ .tabContents #section-1,
#tab-2:checked ~ .tabContents #section-2,
#tab-3:checked ~ .tabContents #section-3,
#tab-4:checked ~ .tabContents #section-4,
#tab-5:checked ~ .tabContents #section-5 {
	opacity: 1;
	background: white;
}

/* :::::: slide :::::: */
body {
	overflow: hidden;
}
.tabContents {
	display: flex;
	width: 500%;
	transition: transform .6s;
}
.tabContents section {
	flex-basis: 20%;
	opacity: .1;
	transition: opacity .3s;
}
#tab-1:checked ~ .tabContents {
	transform: translateX(0);
}
#tab-2:checked ~ .tabContents {
	transform: translateX(-20%);
}
#tab-3:checked ~ .tabContents {
	transform: translateX(-40%);
}
#tab-4:checked ~ .tabContents {
	transform: translateX(-60%);
}
#tab-5:checked ~ .tabContents {
	transform: translateX(-80%);
}


/*見出し*/
.midashi{
  position: inherit;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1rem;
}

/*スライダーギャラリー*/

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.cp_cssslider {
	width: 100%;
	padding-top: 80%; /* 画像の高さ */
	position: relative;
	margin: 2em auto;
	text-align: center;
}
.cp_cssslider > img {
	position: absolute;
	left: 0;
	top: 0;
	transition: all 0.5s;
	border-radius: 3px;
	box-shadow:0px 0px 5px 0px rgba(0,0,0,0.3);
}
.cp_cssslider input[name='cp_switch'] {
	display: none;
}
/* サムネイル */
.cp_cssslider label {
	margin: 5px 5px 0 5px;
	border: 2px solid #ffffff;
	display: inline-block;
	cursor: pointer;
	transition: all 0.5s ease;
	opacity: 0.6;
	border-radius: 3px;
}
.cp_cssslider label:hover {
	opacity: 0.9;
}
.cp_cssslider label img {
	display: block;
	width: 65px;
	border-radius: 2px;
}
.cp_cssslider input[name='cp_switch']:checked + label {
	border: 2px solid #FF7043;
	opacity: 1;
}
.cp_cssslider input[name='cp_switch'] ~ img {
	opacity: 0;
}
.cp_cssslider input[name='cp_switch']:checked + label + img {
	opacity: 1;
}



.btn-img {
  border-style: none;
  text-align: center;
}
.btn-img img {
  width:50%;
  height: auto;
}

body {
  margin:0px;
}
.colour-block {
  background:#B1C664;
  width:100%;
  padding:7% 20% 10% 20%;
  color:rgb(53, 53, 53);
}
.white-block {
  background:#fff;
  width:100%;
  padding:7% 20% 10% 20%;
  color:#444444;
}

.pink-block {
  background:rgb(255, 233, 233);
  width:100%;
  padding:7% 20% 10% 20%;
  color:#444444;
}

h1 {
  text-align:center;
  font-size:80px;
  font-family:'wire one', serif;
  font-weight:normal;
}
p {
  font-size:20px;
  font-family:sans-serif;
  text-align: center;
}


/*----------------*/
/*  SCALLOP down  */
/*----------------*/
.scallop-down{
  height:100px;
  width:100%;
  background: -webkit-gradient(radial, 50% 0, 10, 50% 0, 40, from(#B1C664), color-stop(0.49, #B1C664), color-stop(0.51, #fff), to(white));
-webkit-background-size: 49px 100%;
}


/*----------------*/
/*  SCALLOP up    */
/*----------------*/
.scallop-up{
  height:100px;
  width:100%;
  background: -webkit-gradient(radial, 50% 100%, 10, 50% 100%, 40, from(#B1C664), color-stop(0.49, #B1C664), color-stop(0.51, #fff), to(white));
-webkit-background-size: 49px 100%;
}

h4 {
  position: relative;
   margin: 30px;
   text-align: center;
   font-family: 'メイリオ';
 }
 
 h4:before,
 h4:after {
   position: absolute;
   z-index: 0;
   bottom: -10px;
   display: block;
   content: '';
   border: 1em solid #d90606;
 }
 
 h4:before {
   left: -30px;
   border-left-width: 15px;
   border-left-color: transparent;
 }
 
 h4:after {
   right: -30px;
   border-right-width: 15px;
   border-right-color: transparent;
 }
 
 h4 span {
   position: relative;
   z-index: 1;
   display: block;
   padding: 1rem 2rem;
   color: #fff;
   background: #fa4141;
 }
 
 h4 span:before,
 h4 span:after {
   position: absolute;
   bottom: -10px;
   display: block;
   width: 10px;
   height: 10px;
   content: '';
   border-style: solid;
   border-color: #b70505 transparent transparent transparent;
 }
 
 h4 span:before {
   left: 0;
   border-width: 10px 0 0 10px;
 }
 
 h4 span:after {
   right: 0;
   border-width: 10px 10px 0 0;
 }

 /*ニュースカード*/
 @media screen and (min-width: 481px) {
 .card {
  margin-top: 5rem;
  margin-left: 10rem;
  margin-right: 10rem;
}}

@media screen and (max-width: 480px) {
.card {
	margin-top: 1rem;
	margin-left: 1rem;
	margin-right: 1rem;
  }
}

 .cp_card04 {
	overflow: hidden;
	border-radius: 3px;
	margin-top: 2rem;
	margin-bottom: 2rem;
	margin-left: 1rem;
	margin-right: 1rem;
	position: relative;
	background-color: #fff;
	-webkit-box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3);
	        box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3);
					transition: all 0.25s ease-in;
				  border-bottom: 5px solid transparent;
}
.cp_card04 .photo {
	height: 200px;
	overflow: hidden;
}
.cp_card04:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  border: none;
  border-bottom: 5px solid #00BCD4;
}
.cp_card04 .details {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 1em 1em 0 1em;
	font-size: 0.8em;
}
.cp_card04 .date {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	text-align: right;
}
.cp_card04 .category {
	-webkit-box-flex: 2;
	    -ms-flex: 2;
	        flex: 2;
}
.cp_card04 .category1 p {
	font-size: 0.8em;
	padding: 3px 8px;
	cursor: pointer;
	width: 8em;
	margin: 0;
	border-radius: 10px;
	background: #f86c6c;
	text-align: center;
	color: #ffffff;
}

.cp_card04 .category2 p {
	font-size: 0.8em;
	padding: 3px 8px;
	cursor: pointer;
	width: 8em;
	margin: 0;
	border-radius: 10px;
	background: #00BCD4;
	text-align: center;
	color: #ffffff;

}

.cp_card04 .category3 p {
	font-size: 0.8em;
	padding: 3px 8px;
	cursor: pointer;
	width: 8em;
	margin: 0;
	border-radius: 10px;
	background: #51bb13;
	text-align: center;
	color: #ffffff;
}

.cp_card04 .category4 p {
	font-size: 0.8em;
	padding: 3px 8px;
	cursor: pointer;
	width: 8em;
	margin: 0;
	border-radius: 10px;
	background: #e2bb0a;
	text-align: center;
	color: #ffffff;
}


.cp_card04 .description {
	padding: 0 1em;
}
.cp_card04 .description h1 {
	font-size: 1.4em;
	margin: 0;
	margin-bottom: 0.5em;
}
.cp_card04 .description .text p {
	margin: 0;
  font-size: 1em;
}
.cp_card04 .description a {
	float: right;
	margin-bottom: 10px;
	text-decoration: none;
	color: #00BCD4;
}


.cp_card04 .description a:after {
	font-family: FontAwesome;
	margin-left: -10px;
	-webkit-transition: all 0.3s ease;
	        transition: all 0.3s ease;
	vertical-align: middle;
	opacity: 0;
}
.cp_card04 .description a:hover:after {
	margin-left: 5px;
	opacity: 1;
}
