@charset "UTF-8";
@import url("grid.css");

/*ポップアップ用*/
.modal-wrapper {
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 60px 10px;
    text-align: center
  }
  
  .modal-wrapper:not(:target) {
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s, visibility .3s;
  }
  
  .modal-wrapper:target {
    opacity: 1;
    visibility: visible;
    transition: opacity .4s, visibility .4s;
  }
  
  .modal-wrapper::after {
    display: inline-block;
    height: 100%;
    margin-left: -.05em;
    vertical-align: middle;
    content: ""
  }
  
  .modal-wrapper .modal-window {
    box-sizing: border-box;
    display: inline-block;
    z-index: 20;
    position: relative;
    width: 70%;
    max-width: 600px;
    padding: 30px 30px 15px;
    border-radius: 2px;
    background: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, .6);
    vertical-align: middle
  }
  
  .modal-wrapper .modal-window .modal-content {
    max-height: 80vh;
    overflow-y: auto;
  }
  
  .modal-overlay {
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .8)
  }
  
  .modal-wrapper .modal-close {
    z-index: 20;
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    color: #95979c!important;
    font-size: 20px;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    text-indent: 0
  }
  
  .modal-wrapper .modal-close:hover {
    color: #2b2e38!important
  }

  
  
  
  
  
  /*タブ*/

input[name="switch"] {
	display: none;
}

/* :::::: button :::::: */
.tabBtn {
	display: flex;
	list-style: none;
	width: 100%;
	margin: 0 0 1px;
	padding: 0;
	text-align: center;
}
.tabBtn li {
	flex-basis: 20%;
	background: rgb(32, 178, 64);
}
.tabBtn li:not(:last-child) {
	border-right: 1px solid white;
}
.tabBtn label {
	display: block;
	cursor: pointer;
	padding: 10px 0;
	color: white;
	transition: background .3s;
}
.tabBtn label:hover {
	background: rgba(205,92,92,.5);
}

/* :::::: contents :::::: */
.tabContents section {
	padding: 20px;
	background: white;
}
.tabContents h2 {
	margin: 0 0 .5em;
	font-size: 18px;
}
.tabContents p {
	font-size: 12px;
}
.tabContents p a {
	color:  rgb(32, 178, 64);
}
.tabContents figure {
	float: left;
	width: 30%;
	min-width: 120px;
	margin: 0 1em 0 0;
}
.tabContents figure img {
	max-width: 100%;
	vertical-align: middle;
}
.tabContents section::after {
	content: "";
	display: block;
	clear: left;
}

/* :::::: mechanism :::::: */
.tabContents section {
	opacity: .1;
}
.tabContents section {
	transition: opacity .3s;
}
#tab-1:checked ~ .tabBtn label[for="tab-1"],
#tab-2:checked ~ .tabBtn label[for="tab-2"],
#tab-3:checked ~ .tabBtn label[for="tab-3"],
#tab-4:checked ~ .tabBtn label[for="tab-4"],
#tab-5:checked ~ .tabBtn label[for="tab-5"] {
	background: indianred;
}
#tab-1:checked ~ .tabContents #section-1,
#tab-2:checked ~ .tabContents #section-2,
#tab-3:checked ~ .tabContents #section-3,
#tab-4:checked ~ .tabContents #section-4,
#tab-5:checked ~ .tabContents #section-5 {
	opacity: 1;
	background: white;
}

/* :::::: slide :::::: */
body {
	overflow: hidden;
}
.tabContents {
	display: flex;
	width: 500%;
	transition: transform .6s;
}
.tabContents section {
	flex-basis: 20%;
	opacity: .1;
	transition: opacity .3s;
}
#tab-1:checked ~ .tabContents {
	transform: translateX(0);
}
#tab-2:checked ~ .tabContents {
	transform: translateX(-20%);
}
#tab-3:checked ~ .tabContents {
	transform: translateX(-40%);
}
#tab-4:checked ~ .tabContents {
	transform: translateX(-60%);
}
#tab-5:checked ~ .tabContents {
	transform: translateX(-80%);
}