header ul {
  list-style-type: none;
}

header nav {
  width: 100%;
}

header nav ul {
  padding-inline-start: 0;
}

header nav ul li {
  float: left;
  margin: 0 5px 0 5px;
}

header nav ul li a {
  font-size: x-large;
  text-decoration: none;
  color: black;
}

header nav ul li .separation {
  user-select: none;
}
