body {
  margin-left: auto;
  margin-right: auto;
}

/* ページ全体のレイアウト */
#page {
  max-width: 1230px;
  margin: 30px auto;
}

.container-row {
  display: flex;
  flex-direction: row;
}
.container-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
  gap: 1rem;
}

#main-contents {
  width: 100%;
  margin: 5px;
  gap: 100px 0px;
}

#main-contents .contents-index a{
  margin: 7px;
  font-size: 19px;
}

.egara .title {
  text-align: center;
}

.egara .title img {
  width: 60%;
}

.egara .item img {
  width: 100%;
}

#greeting img {
  width: 100%;
}

#top-image .pc {
  width: 100%;
  display: block !important;
}

#top-image .sp {
  width: 100%;
  display: none !important;
}

@media only screen and (max-width: 750px) {
  .pc {
    display: none !important;
  }
  .sp {
    display: block !important;
  }
}

#latest-works {
  width: 100%;
}

#latest-works img {
  width: 50%;
}

#latest-works .works-contents {
  width: 100%;
  align-self: flex-start;
}

#illusts {
  width: 80%;
}
