@charset 'utf-8';
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, textarea, p, th, td, img {
	margin: 0;
	padding: 0;
	border: 0;
}
html, body {
	height: 100%;
}
html {
	font-size: 62.5%;
	box-sizing: border-box;
}
body {
	line-height: 2;
	background: #fff;
	font-family: 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', Osaka, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro';
	color: #333;
}
ol, ul {
	list-style: none;
}
a {
	color: #1D3994;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.color1 {
	color: #d70035;
}
.color2 {
	color: #000;
	font-weight: bold;
}
/*ヘッダー*/


header {
	position: fixed;
	top: 0;
	left: 0px;
	width: 100%;
	height: 70px;
	
	z-index: 1000;
	border-left: solid 1px #ddd;
	border-bottom: solid 1px #ddd;
	
}


h1 {
	/*position: fixed;
	top: 2px;
	left: 14px;
	font-family: 'Playball', cursive;
	font-size: 4rem;
	line-height: 40px;*/
	float: left;
	padding: 6px 0;
}


.h1_1 {
	position: fixed;
	top: 20px;
	left: 30px;
}
.h1_2 {
	position: fixed;
	top: 65px;
	left: 30px;
}
h1 a {
	display: block;
	width: 64px;
	height: 69px;
	font-size: 0;
	background: url(./images/logo.png) left top/64px auto no-repeat;
}
h1 a:hover {
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	opacity: 0.6;
	filter: alpha(opacity=60);
	-moz-opacity: 0.6;
	text-decoration: none;
}
.h1_subcol {
	color: #ff4d4d;
}
/*レイアウト*/
.wrapper {
	float: right;
	width: 100%;
	margin-top: 70px;
	margin-left: -200px;
}
.main {
	width: 100%;
	float: left;
	margin-right: -340px;
}
.content {
	width: 100%;
	float: right;
	margin-left: -220px;
}
.top_content_inner {
	margin-left: 200px;
	margin-right: 340px;
	border-left: solid 1px #ddd;
}
.content_inner {
	margin-left: 200px;
	border-left: solid 1px #ddd;
}
.rightside {
	width: 320px;
	float: right;
	margin: 50px 0 0;
	padding-right: 20px;
}
footer {
	clear: both;
	position: relative;
	width: auto;
	height: 100px;
	margin-left: 200px;
	background: #353535;
}

@media screen and (max-width: 768px) {
/*ヘッダー*/
header {
	left: 0;
	height: 50px;
	border-left: none;
}
h1 {
	font-size: 3rem;
	width: auto;
	z-index: 1100;
	height: 50px;
	line-height: 50px;
}
.h1_1 {
	position: fixed;
	top: 2px;
	left: 50px;
}
.h1_2 {
	position: fixed;
	top: 2px;
	left: 150px;
}
/*レイアウト*/
.wrapper {
	margin: 50px 0 0 0;
}
.main, .content, .content_inner, .top_content_inner {
	margin: 0;
}
.rightside {
	width: 100%;
	margin: 20px;
	padding: 0 0 0 40px;
}
footer {
	margin-left: 0;
}
}
@media screen and (min-width: 769px) and (max-width: 1280px) {
.rightside {
	margin: 20px 0 0;
	padding-right: 20px;
}
}

/*ボタン*/

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

.btn-wrap {
  margin: 30px 0;
  text-align: center;
}

a.btn-c {
  font-size: 2.2rem;

  position: relative;

  padding: 0.25rem 2rem 1.5rem 3.5rem;

  color: #fff;
  background: #32b16c;
  -webkit-box-shadow: 0 5px 0 #2c9d60;
  box-shadow: 0 5px 0 #2c9d60;
}

a.btn-c span {
  font-size: 1.5rem;

  position: absolute;
  top: -10px;
  left: calc(50% - 150px);

  display: block;

  width: 300px;
  padding: 0.2rem 0;

  color: #32b16c;
  border: 2px solid #32b16c;
  border-radius: 0.5rem;
  background: #fff;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

a.btn-c:hover {
  -webkit-transform: translate(0, 3px);
  transform: translate(0, 3px);

  color: #fff;
  background: #30a967;
  -webkit-box-shadow: 0 2px 0 #2c9d60;
  box-shadow: 0 2px 0 #2c9d60;
}

a.btn-c:hover:before {
  left: 2rem;
}